@use "../styles/global.scss" as *;

.header {
    display: grid;
    grid-template: "name navigation";
}

.header-name {
    grid-area: name;
    @include flex(row, row-start, center);
    margin-left: clamp(5px, 1rem, 25px)
}

nav {
    grid-area: navigation;
    display: flex;
    justify-content: end;
    align-items: center;

    margin-right: clamp(10px, 2rem, 45px);

    ul {
        list-style: none;
        display: flex;
        gap: 15px;
        padding: 0;

        li {
            a {
                text-decoration: none;
                color: var(--black);

                &[data-active] {
                    border-bottom: 2px solid var(--accent-1);
                }
            }

            &:hover {
                a {
                    border-bottom: 2px solid color-mix(in srgb, var(--accent-1) 50%, transparent);
                }

            }
        }
    }
}

.hero {
    @include flex(column, center, center);
    position: relative;
    width: 100%;
    height: 725px;
    background: url(../../public/hero.jpg) center calc(50% + 40px)/cover no-repeat;
    // background-position-y: unset;

    @media screen and (max-width: 1545px) {
        background-position-y: calc(50% + 20px);
    }

    @media screen and (max-width: 1465px) {
        background-position-y: center;
    }

    @media screen and (max-width: 725px) {
        background-position-x: 40%;
    }

    @media screen and (max-width: 545px) {
        background-position-x: 30%;
    }

    &-overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.2);
    }

    &-content {
        position: relative;
        top: -5rem;
        left: 20%;
        text-align: left;
        color: $color-text;

        @media screen and (max-width: 725px) {
            top: -10rem;
            left: 20%;
            width: 40%;
            text-wrap-mode: wrap;
        }

        @media screen and (max-width: 545px) {
            top: -5rem;
            left: unset;
            width: unset;
            text-align: center;
        }

        h1 {
            font-size: 3rem;
            margin: 0;
        }

        p {
            font-size: 1.5rem;
            margin-top: 0.5rem;
        }
    }
}


.blocks {
    @include container;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, max-content));
    gap: 1rem 3rem;
    padding: 4rem 0;

    .block {
        padding: 1rem;
        width: 500px;
        // border-radius: 8px;
        // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

        h2 {
            margin-top: 0;
            margin-bottom: 1rem;
            font-size: 2.2rem;
            color: $color-primary-1;
        }

        p {
            margin: 0;
            font-size: 1.2rem;
            color: $color-dark-grey;
        }
    }
}

.callout {
    @include flex(column, center, start);
    height: 250px;
    background: $color-primary-1;
    color: $color-text;
    text-align: left;
    padding: 1rem 20rem;

    &-header {
        font-size: 50px;
    }

    &-subtitle {
        font-size: 20px;
    }

    a {
        border-bottom: solid $color-text 1px;

        &:hover {
            border-bottom: dashed $color-text 1px;
        }
    }
}