.container {

    main {
        display: grid;
        grid-template-rows: auto 1fr;
    }

    .lists {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .add-list {
        display: flex;
    }
}