@use "../../../styles/global.scss" as *;

.container {
    // subtract header height
    min-height: calc(100vh - 85px);
    @include flex(column, center, center);
    padding: $space-8 $space-4;
    background: linear-gradient(180deg, $color-bg-soft 0%, $color-bg-primary 100%);

    article {
        @include card;
        width: 100%;
        max-width: 420px;
        padding: $space-10;
        text-align: center;
        background: $color-white;

        h2 {
            color: $color-text-primary;
            font-size: 1.75rem;
            margin-bottom: $space-2;
        }
        
        > p {
            color: $color-text-secondary;
            font-size: 0.95rem;
            margin-bottom: $space-8;
            line-height: 1.6;
        }

        div {
            @include flex(column, flex-start, stretch);
            width: 100%;
            margin: 0 0 $space-5;
            
            label {
                font-size: 0.9rem;
                font-weight: $font-weight-medium;
                color: $color-text-primary;
                margin-bottom: $space-2;
                text-align: left;
            }
            
            input {
                width: 100%;
            }
        }

        .controls-wrapper {
            @include flex(column, center, center);
            margin-top: $space-6;
            gap: $space-4;
            
            button {
                width: 100%;
                min-width: unset;
            }

            a {
                font-size: 0.9rem;
                color: $color-text-secondary;
                border-bottom: 1px solid transparent;
                padding-bottom: 1px;
                transition: all $transition-fast;

                &:hover {
                    color: $color-tertiary;
                    border-bottom-color: $color-accent-3;
                }
            }
        }
    }
    
    @media screen and (max-width: 480px) {
        padding: $space-6 $space-4;
        
        article {
            padding: $space-8 $space-5;
        }
    }
}