:root {
    /* --bg: #f5ede6;
    --bg: #F0E5BF; */
    --bg: #F4EFE4;
    --bg-soft: #fffefa;
    --primary: #e5c793;
    /* --secondary: #f7ebac;
    --secondary: #EAD17A;
    --secondary: #F7F2DE; */
    --secondary: #f8efd1;
    /* --secondry: #EDE3CF; */
    --tertiary: #554237;
    --tertiary: #7A624B;
    --accent-1: #fd2a35;
    --accent-1: #C43832;
    --accent-2: #fbe127;
    --accent-2: #EBD98C;
    --accent-3: #e0ab81;
    --accent-4: #F4D63B;
    --dark-grey: #555867;
    --light-grey: #e3e8ea;
    --black: #020308;

    /* --secondary: #c0b152; */

    /* --primary: #f3c194;
    --secondary: #eeda68;
    --tertiary: #554237;

    --accent-1: #fd2a35;
    --accent-2: #fbe127;

    --dark-grey: #555867;
    --light-grey: #ebe0d5;
    --black: #020308; */
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;

    background-color: var(--bg-soft);
    color: var(--black);

    font-family: "Noto Sans Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    letter-spacing: 0.2px;
}

article {
    display: flex;
    flex-direction: column;
    border: 1px solid color-mix(in srgb, var(--light-grey) 40%, transparent);
    border-radius: 8px;
    padding: 2rem 2.5rem;
    max-width: 500px;
    margin: 0;
    box-sizing: border-box;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.06);
    height: fit-content;
    width: fit-content;
    min-width: 150px;
}

article h2, article h3 {
    margin: 0;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

section:not(:first-child) {
    margin-top: 2rem;
}

input {
    border: 1px solid #A1A4A8;
    background: #FFFFFF;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 0.95rem;
    box-sizing: border-box;
}

input[type="text"] {
    width: 100%;
}

input:focus {
    border-color: var(--accent-3);
    outline: none;
    box-shadow: 0 0 0 2px rgba(179, 134, 82, 0.25);
}

button {
    width: 5rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--accent-3);
    border: 0px solid transparent;
    border-radius: 10px;
    color: var(--bg-soft);
}

button:hover {
    background-color: color-mix(in srgb, var(--accent-3) 90%, var(--tertiary));
}

form {
    display: flex;
    flex-direction: column;
}

form button {
    margin: 0 auto;
}