.header-wrapper {
    display: grid;
    grid-template: "name navigation";
}

.header-name {
    grid-area: "name";
    display: flex;
    align-items: center;
}

.header-name h1 {
    margin: 0;
}

.header-nav {
    grid-area: "navigation";
    display: flex;
    justify-content: end;
    align-items: center;

    margin-right: clamp(10px, 2rem, 45px);
}

.header-nav li:hover a {
    border-bottom: 2px solid color-mix(in srgb, var(--accent-1) 50%, transparent);
}

.header-nav li a {
    text-decoration: none;
    color: var(--black);
}

.header-nav li a[data-active] {
    border-bottom: 2px solid var(--accent-1);
}