.container {
    display: grid;
    grid-template-areas:
        "sidebar content";
    grid-template-columns: 1fr 8fr;

    height: 100%;

    &>div {
        padding: 0.5rem 2rem 2rem 2rem;
    }

    &>div h2+p {
        margin: 0.3rem 0 2rem 0;
    }

    aside {
        grid-area: sidebar;

        background-color: var(--bg);
    }

    aside ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    aside ul li {
        display: flex;
        align-items: center;

        margin: 0;
        padding: calc(1rem + 10px) calc(1.5rem - 2.5px);
        height: fit-content;
        width: 100%;

        border-left: 5px solid transparent;

        cursor: pointer;
    }

    aside ul li:hover,
    aside ul li[data-active] {
        background-color: var(--secondary);
        border-left: 5px solid var(--accent-4);

        cursor: pointer;
        font-weight: 600;
    }

    aside ul a {
        text-decoration: none;
        color: var(--black);
    }
}

main {
    grid-area: content;
}



article .button-wrapper {
    display: flex;
}

article .button-wrapper button {
    margin: 0 auto;
}

.active li {
    background-color: var(--secondary);
    border-left: 5px solid var(--accent-4);

    cursor: pointer;
    font-weight: 600;
}